In [1]:
import pandas as pd

## Download Data
StackOverflow Survey Download Page - http://bit.ly/SO-Survey-Download

In [53]:
# df = pd.read_csv("./data/survey_results_public.csv")
df = pd.read_csv("./data/survey_results_public.csv", index_col='ResponseId')
df.shape

(65437, 113)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65437 entries, 1 to 65437
Columns: 113 entries, MainBranch to JobSat
dtypes: float64(13), object(100)
memory usage: 56.9+ MB

In [47]:
pd.set_option('display.max_columns', 114)
# pd.set_option('display.max_rows', 65437)
df.head(7)

,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,BuildvsBuy,TechEndorse,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,LanguageAdmired,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DatabaseAdmired,PlatformHaveWorkedWith,PlatformWantToWorkWith,PlatformAdmired,WebframeHaveWorkedWith,WebframeWantToWorkWith,WebframeAdmired,EmbeddedHaveWorkedWith,EmbeddedWantToWorkWith,EmbeddedAdmired,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,MiscTechAdmired,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,ToolsTechAdmired,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,NEWCollabToolsAdmired,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackAsyncAdmired,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,OfficeStackSyncAdmired,AISearchDevHaveWorkedWith,AISearchDevWantToWorkWith,AISearchDevAdmired,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOHow,SOComm,AISelect,AISent,AIBen,AIAcc,AIComplex,AIToolCurrently Using,AIToolInterested in Using,AIToolNot interested in Using,AINextMuch more integrated,AINextNo change,AINextMore integrated,AINextLess integrated,AINextMuch less integrated,AIThreat,AIEthics,AIChallenges,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Knowledge_9,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Frustration,ProfessionalTech,ProfessionalCloud,ProfessionalQuestion,Industry,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have never visited Stack Overflow or the Sta...,NaN,NaN,NaN,NaN,NaN,Yes,Very favorable,Increase productivity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,20,17,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,PostgreSQL,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,Express;Htmx;Node.js;React;Remix,Express;Node.js;React,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,MacOS;Windows,MacOS,NaN,NaN,NaN,Microsoft Teams;Slack,Slack,Slack,NaN,NaN,NaN,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,17.0,Agree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,37,27,Developer Experience,NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,C#,C#,C#,Firebase Realtime Database,Firebase Realtime Database,Firebase Realtime Database,Google Cloud,Google Cloud,Google Cloud,ASP.NET CORE,ASP.NET CORE,ASP.NET CORE,Rasberry Pi,Rasberry Pi,Rasberry Pi,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,MSBuild,MSBuild,MSBuild,Visual Studio,Visual Studio,Visual Studio,Windows,Windows,NaN,NaN,NaN,Google Chat;Google Meet;Microsoft Teams;Zoom,Google Chat;Google Meet;Zoom,Google Chat;Google Meet;Zoom,NaN,NaN,NaN,Stack Overflow;Stack Exchange;Stack Overflow B...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,NaN,4,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Canada,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,MongoDB;MySQL;PostgreSQL;SQLite,MongoDB;MySQL;PostgreSQL,MongoDB;MySQL;PostgreSQL,Amazon Web Services (AWS);Fly.io;Heroku,Amazon Web Services (AWS);Vercel,Amazon Web Services (AWS),jQuery;Next.js;Node.js;React;WordPress,jQuery;Next.js;Node.js;React,jQuery;Next.js;Node.js;React,Rasberry Pi,NaN,NaN,NumPy;Pandas;Ruff;TensorFlow,NaN,NaN,Docker;npm;Pip,Docker;Kubernetes;npm,Docker;npm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow,Daily or almost daily,No,NaN,Quickly finding code solutions,"No, not really",Yes,Very favorable,Increase productivity;Greater efficiency;Impro...,Somewhat trust,Bad at handling complex tasks,Learning about a codebase;Project planning;Wri...,Testing code;Committing and reviewing code;Pre...,NaN,Learning about a codebase;Project planning;Wri...,NaN,NaN,NaN,NaN,No,Circulating misinformation or disinformation;M...,Don’t trust the output or answers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,9,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Norway,NaN,NaN,C++;HTML/CSS;JavaScript;Lua;Python;Rust,C++;HTML/CSS;JavaScript;Lua;Python,C++;HTML/CSS;JavaScript;Lua;Python,PostgreSQL;SQLite,PostgreSQL;SQLite,PostgreSQL;SQLite,NaN,NaN,NaN,NaN,NaN,NaN,CMake;Cargo;Rasberry Pi,CMake;Rasberry Pi,CMake;Rasberry Pi,NaN,NaN,NaN,APT;Make;npm,APT;Make,APT;Make,Vim,Vim,Vim,Other (please specify):,NaN,GitHub Discussions;Markdown File;Obsidian;Stac...,GitHub Discussions;Markdown File;Obsidian,GitHub Discussions;Markdown File;Obsidian,Discord;Whatsapp,Discord;Whatsapp,Discord;Whatsapp,NaN,NaN,NaN,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Engage with com...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
6,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,Primary/elementary school,"School (i.e., University, College, etc);Online...",NaN,NaN,10,NaN,Student,NaN,NaN,NaN,NaN,NaN,United States of America,NaN,NaN,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...,Cloud Firestore,Cloud Firestore,Cloud Firestore,Cloudflare,Cloudflare,Cloudflare,Node.js,Node.js,Node.js,Rasberry Pi,Rasberry Pi,Rasberry Pi,NaN,NaN,NaN,Docker;Homebrew;npm;Pip;pnpm,Homebrew;npm;Pip;pnpm,Homebrew;npm;Pip;pnpm,Nano;Vim;Visual Studio Code;Xcode,Nano;Vim;Visual Studio Code;Xcode,Nano;Vim;Visual Studio Code;Xcode,iOS;MacOS;Ubuntu,NaN,Markdown File,Markdown File,Markdown File,Discord,Discord,Discord,ChatGPT;GitHub Copilot;OpenAI Codex,ChatGPT;GitHub Copilot,ChatGPT;GitHub Copilot,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely",Yes,Favorable,Increase productivity;Greater efficiency;Impro...,Somewhat trust,"Good, but not great at handling complex tasks",Writing code;Debugging and getting help,Documenting code;Testing code;Committing and r...,Learning about a codebase;Project planning,NaN,Writing code;Debugging and getting help,NaN,NaN,NaN,No,Circulating misinformation or disinformation;M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
7,"I am not primarily a developer, but I write co...",35-44 years old,"Employed, full-time",Remote,Apples,I don’t code outside of work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Written...,NaN,7,7,Academic researcher,NaN,NaN,NaN,NaN,NaN,United States of America,NaN,NaN,R,R,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RStudio,RStudio,RStudio,MacOS,MacOS,NaN,NaN,NaN,Microsoft Teams;Whatsapp,Microsoft Teams;Whatsapp,Microsoft Teams;Whatsapp,NaN,NaN,NaN,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN,NaN

In [5]:
df.columns

Index(['MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'TechDoc',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=113)

### Loading Schema

In [6]:
schema_df = pd.read_csv("./data/survey_results_schema.csv", index_col='qname')
schema_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, MainBranch to JobSatPoints_11
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   qid         87 non-null     object
 1   question    87 non-null     object
 2   force_resp  66 non-null     object
 3   type        87 non-null     object
 4   selector    87 non-null     object
dtypes: object(5)
memory usage: 4.1+ KB

In [7]:
schema_df.head(7)

,qid,question,force_resp,type,selector
qname,,,,,
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Age,QID127,What is your age?*,True,MC,SAVR
Employment,QID296,Which of the following best describes your cur...,True,MC,MAVR
RemoteWork,QID308,Which best describes your current work situation?,False,MC,SAVR
Check,QID341,Just checking to make sure you are paying atte...,True,MC,SAVR
CodingActivities,QID297,Which of the following best describes the code...,False,MC,MAVR
EdLevel,QID25,Which of the following best describes the high...,True,MC,SAVR

In [8]:
schema_df.tail(2)

,qid,question,force_resp,type,selector
qname,,,,,
JobSatPoints_10,QID337,Working with new and/or top-quality hardware,NaN,MC,MAVR
JobSatPoints_11,QID337,A well-staffed/sourced internal network that m...,NaN,MC,MAVR

In [9]:
schema_df.loc['LearnCode']

qid                                                     QID276
question      How do you learn to code? Select all that apply.
force_resp                                               False
type                                                        MC
selector                                                  MAVR
Name: LearnCode, dtype: object

In [10]:
schema_df.loc['LearnCode', 'question']

'How do you learn to code? Select all that apply.'

In [11]:
schema_df.sort_index(ascending=True)

,qid,question,force_resp,type,selector
qname,,,,,
AIAcc,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIBen,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIChallenges,QID346,What are the challenges to your company/whole ...,False,MC,MAVR
AIComplex,QID343,How well do the AI tools you use in your devel...,False,MC,SAVR
AIEthics,QID339,Which AI ethical responsibilities are most imp...,False,MC,MAVR
...,...,...,...,...,...
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

### Creating DataFrame from a Dict

In [12]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

people_df = pd.DataFrame(people)
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

Accessing Columns in DataFrame

### Series

In [13]:
people_df["email"]  # Series

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [14]:
people_df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [15]:
people_df[["email", "last"]]  # DataFrame

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

### Creating a Custom Index

In [16]:
people_df.set_index("email", inplace=False)

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [17]:
# Check the index
people_df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
people_df.reset_index(inplace=True)

## Accessing Columns and Rows

In [19]:
people_df.columns

Index(['index', 'first', 'last', 'email'], dtype='object')

In [20]:
people_df["email"]  # Series

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [21]:
people_df[["email", "last"]]  # DataFrame

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

### Accessing Rows and columns using **loc** and **iloc**

* **iloc**: is used to access the row and columns using integer location,
* **loc**:  is used to access the row and columns using labels, note that the labels of the rows are the rows indexes unless you create a coustom label.

In [22]:
people_df.iloc[0]

index                          0
first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [23]:
people_df.iloc[[0, 1]]

   index  first     last                    email
0      0  Corey  Schafer  CoreyMSchafer@gmail.com
1      1   Jane      Doe        JaneDoe@email.com

In [24]:
people_df.iloc[[0, 1], 2]

0    Schafer
1        Doe
Name: last, dtype: object

In [25]:
people_df.iloc[[0, 1], [0, 1]]

   index  first
0      0  Corey
1      1   Jane

In [26]:
people_df.iloc[0:2, 0:2]

   index  first
0      0  Corey
1      1   Jane

In [27]:
people_df.iloc[[0, 1], [0, 1]]

   index  first
0      0  Corey
1      1   Jane

In [28]:
people_df.loc[[0, 1], "first":"email"]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [29]:
df.columns

Index(['MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'TechDoc',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=113)

In [31]:
df.loc[1, "Employment"]

'Employed, full-time'

In [32]:
df["Employment"].value_counts()

Employment
Employed, full-time                                                                                                                                   39041
Independent contractor, freelancer, or self-employed                                                                                                   4846
Student, full-time                                                                                                                                     4709
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                               3557
Not employed, but looking for work                                                                                                                     2341
                                                                                                                                                      ...
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time        1
Student, full-time;Retired                                                                                                                                1
Employed, full-time;Not employed, but looking for work;Student, part-time                                                                                 1
Not employed, and not looking for work;Student, part-time;Employed, part-time                                                                             1
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired                                        1
Name: count, Length: 110, dtype: int64

## Filtering - Using Conditionals to Filter Rows and Columns

In [36]:
# Retrieve people with Deo as their last name
# f = people_df['last'] == 'Doe'
# people_df[f]

people_df[people_df['last'] == 'Doe']

   index first last              email
1      1  Jane  Doe  JaneDoe@email.com
2      2  John  Doe  JohnDoe@email.com

In [39]:
# Same thing but using loc
people_df.loc[people_df['last'] == 'Doe']

   index first last              email
1      1  Jane  Doe  JaneDoe@email.com
2      2  John  Doe  JohnDoe@email.com

In [42]:
# Returning Emails instead of full rows
people_df.loc[people_df['last'] == 'Doe', 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

Use &, | and ~ as logical operators between conditions, and don't forget to srround conditions with pranthesis

In [44]:
people_df.loc[(people_df['last'] == 'Doe') & (people_df['first'] == 'John')]

   index first last              email
2      2  John  Doe  JohnDoe@email.com

Task 01: From stackoverflow, Get the salary of all people working in Egypt and use Python as their programming language

In [61]:
pd.set_option('display.max_rows', 10)
df.loc[(df["Country"] == 'Egypt'), ['YearsCode', 'CompTotal', 'Currency', 'ConvertedCompYearly', 'LanguageHaveWorkedWith']]

,YearsCode,CompTotal,Currency,ConvertedCompYearly,LanguageHaveWorkedWith
ResponseId,,,,,
542,1,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Python;SQL;Zig
1155,NaN,NaN,NaN,NaN,Bash/Shell (all shells);C;C++;Go;Python
1368,4,NaN,NaN,NaN,C++;Dart;Java;Lua;Python;SQL;Swift
1404,3,5000.0,USD\tUnited States dollar,5000.0,HTML/CSS;JavaScript;TypeScript
1523,8,NaN,NaN,NaN,HTML/CSS;JavaScript;PHP;SQL;TypeScript
...,...,...,...,...,...
62035,8,372000.0,EGP\tEgyptian pound,NaN,Bash/Shell (all shells);C;C#;C++;PowerShell;Pr...
62336,2,NaN,NaN,NaN,NaN
62732,16,NaN,EGP\tEgyptian pound,NaN,Bash/Shell (all shells);C;C#;C++;Kotlin;MATLAB...
63011,4,NaN,NaN,NaN,Assembly;C;C++;HTML/CSS;Java;JavaScript;MATLAB...
64965,3,NaN,NaN,NaN,Python

In [124]:
countries = ['Egypt', 'United Arab Emirates', 'Saudi Arabia']
flt = (
    (df["Country"].isin(countries))
    & ~(df["YearsCode"].isin(['1', '2', '3', '4', '5', 'Less than 1 year']))
    & (df["LanguageHaveWorkedWith"].str.contains("Python", na=True))
)

pd.set_option('display.max_rows', 700)
df.loc[flt, ['Country', 'YearsCode',  'ConvertedCompYearly', 'LanguageHaveWorkedWith']]  # 'CompTotal', 'Currency',

,Country,YearsCode,ConvertedCompYearly,LanguageHaveWorkedWith
ResponseId,,,,
1155,Egypt,NaN,NaN,Bash/Shell (all shells);C;C++;Go;Python
1719,Egypt,7,38666.0,C;C++;Python
2515,United Arab Emirates,30,108906.0,Bash/Shell (all shells);C;C#;C++;Dart;GDScript...
3256,Egypt,9,10935.0,C++;Python
3514,Egypt,12,21198.0,Dart;Kotlin;Python;SQL
4101,United Arab Emirates,10,149745.0,Python;SQL
4110,United Arab Emirates,16,NaN,HTML/CSS;JavaScript;Python;SQL
4812,Egypt,8,5749.0,C#;Python;SQL
5505,United Arab Emirates,16,16336.0,C#;HTML/CSS;JavaScript;PHP;PowerShell;Python;S...
5557,United Arab Emirates,9,NaN,Bash/Shell (all shells);Go;HTML/CSS;JavaScript...
5809,United Arab Emirates,10,60769.0,Bash/Shell (all shells);C++;HTML/CSS;JavaScrip...
6186,United Arab Emirates,28,NaN,Assembly;Bash/Shell (all shells);C;C#;C++;Erla...
7537,Egypt,10,9842.0,Bash/Shell (all shells);Dart;Groovy;HTML/CSS;J...
7789,United Arab Emirates,15,98015.0,Bash/Shell (all shells);C#;HTML/CSS;JavaScript...
7792,Egypt,6,NaN,C#;HTML/CSS;JavaScript;Python;SQL;TypeScript
8417,Egypt,38,51480.0,Bash/Shell (all shells);C#;Go;HTML/CSS;Java;Ja...
9353,Egypt,10,9600.0,Bash/Shell (all shells);HTML/CSS;JavaScript;Py...
9471,Egypt,6,2524.0,JavaScript;Python;SQL;TypeScript
10925,United Arab Emirates,24,142666.0,Apex;Bash/Shell (all shells);C#;HTML/CSS;JavaS...
11424,United Arab Emirates,8,23959.0,C#;JavaScript;Python;SQL;TypeScript
11790,Egypt,6,16592.0,C#;Python
11879,Egypt,23,120000.0,C#;Delphi;HTML/CSS;JavaScript;PHP;Python;SQL
12614,Egypt,7,NaN,Bash/Shell (all shells);C;C#;Haskell;JavaScrip...
13881,United Arab Emirates,12,68066.0,C#;C++;Python;SQL
13959,Egypt,9,9135.0,Bash/Shell (all shells);JavaScript;Python;SQL
14096,United Arab Emirates,NaN,NaN,C++;Go;HTML/CSS;Java;JavaScript;Python;Rust;SQL
14171,Egypt,8,8580.0,Bash/Shell (all shells);HTML/CSS;JavaScript;Py...
14187,Egypt,10,52574.0,HTML/CSS;JavaScript;Python;SQL;TypeScript
14199,Egypt,12,NaN,C#;C++;Java;JavaScript;Python;Ruby;SQL;TypeScript
14336,Egypt,15,18000.0,C#;HTML/CSS;JavaScript;Python;SQL;TypeScript
14411,Egypt,10,NaN,C#;HTML/CSS;JavaScript;PHP;PowerShell;Python;S...
14430,Egypt,22,NaN,HTML/CSS;JavaScript;PHP;PowerShell;Python;SQL
14564,United Arab Emirates,30,217811.0,Assembly;Bash/Shell (all shells);C++;Go;Groovy...
15014,Egypt,7,23132.0,HTML/CSS;JavaScript;Python;SQL
15724,United Arab Emirates,8,NaN,Bash/Shell (all shells);C;Groovy;HTML/CSS;Java...
15759,Egypt,6,6225.0,C#;Java;JavaScript;Python;SQL
16027,Egypt,NaN,NaN,NaN
17348,Egypt,30,NaN,C;C++;Delphi;HTML/CSS;Java;JavaScript;Python;SQL
17461,United Arab Emirates,10,NaN,NaN
18118,Egypt,10,NaN,Bash/Shell (all shells);C;C++;Dart;GDScript;HT...
18260,Egypt,10,10515.0,JavaScript;PHP;Python;Ruby;TypeScript
19868,United Arab Emirates,20,NaN,Assembly;C;C#;C++;HTML/CSS;Java;JavaScript;Pyt...
20205,Egypt,14,NaN,Bash/Shell (all shells);C#;JavaScript;Python;S...
20506,United Arab Emirates,7,NaN,Bash/Shell (all shells);GDScript;HTML/CSS;Lua;...
20987,Egypt,7,284.0,HTML/CSS;Java;JavaScript;Python;SQL
21331,United Arab Emirates,12,NaN,Bash/Shell (all shells);C;Go;HTML/CSS;Java;Jav...
23227,United Arab Emirates,10,28588.0,HTML/CSS;JavaScript;Python;R
23319,Saudi Arabia,9,1244.0,NaN
23881,United Arab Emirates,6,NaN,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...
24988,United Arab Emirates,6,NaN,C#;HTML/CSS;JavaScript;PHP;Python;Rust;SQL;Typ...
25427,Egypt,9,NaN,Assembly;Bash/Shell (all shells);C;C++;Java;MA...
25650,Egypt,16,NaN,Java;Kotlin;Python;SQL
26774,United Arab Emirates,12,142122.0,JavaScript;Python;SQL
27968,Egypt,14,5257.0,Bash/Shell (all shells);C;C#;C++;Dart;F#;GDScr...
28322,United Arab Emirates,13,NaN,Bash/Shell (all shells);Java;MATLAB;Python
28346,Egypt,NaN,NaN,Bash/Shell (all shells);Python
28517,Saudi Arabia,12,NaN,Lua;Python;Rust;Scala;SQL
29002,Saudi Arabia,9,118388.0,C#;Dart;F#;JavaScript;OCaml;Python;SQL;TypeScript
29170,Egypt,14,NaN,C#;Python;R;SQL;TypeScript
29292,United Arab Emirates,12,NaN,Groovy;HTML/CSS;JavaScript;PHP;Python
29625,Egypt,10,NaN,Bash/Shell (all shells);C#;Go;HTML/CSS;JavaScr...
30489,Saudi Arabia,18,151984.0,Bash/Shell (all shells);HTML/CSS;JavaScript;Py...
31298,United Arab Emirates,41,163359.0,PowerShell;Python
31571,United Arab Emirates,19,NaN,C#;C++;Python
32431,United Arab Emirates,10,65343.0,C#;HTML/CSS;JavaScript;Python;SQL;TypeScript
32529,Egypt,6,3554.0,C#;HTML/CSS;JavaScript;Python;SQL
32812,Egypt,10,NaN,C;C++;Python;SQL
33244,Egypt,8,NaN,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...
33322,Egypt,NaN,NaN,NaN
33373,Saudi Arabia,20,133320.0,C#;C++;Elixir;Erlang;Go;Java;JavaScript;Kotlin...
33754,Egypt,7,NaN,Assembly;C++;Go;HTML/CSS;Java;JavaScript;Pytho...
34049,Egypt,7,NaN,Bash/Shell (all shells);C#;C++;HTML/CSS;Java;J...
34265,Egypt,11,NaN,Python
34376,United Arab Emirates,28,95292.0,C#;HTML/CSS;JavaScript;Python;SQL;TypeScript
34525,Egypt,10,NaN,Bash/Shell (all shells);C;Lua;Python;TypeScript
35090,Egypt,9,NaN,HTML/CSS;JavaScript;Python;SQL
35144,Egypt,9,NaN,HTML/CSS;JavaScript;Python;SQL
35231,Egypt,15,NaN,Java;JavaScript;Python
35581,Egypt,7,50000.0,Bash/Shell (all shells);C;Dart;F#;HTML/CSS;Jav...
35586,United Arab Emirates,8,NaN,Bash/Shell (all shells);C;JavaScript;Python
35651,Egypt,7,NaN,C;C++;HTML/CSS;JavaScript;PHP;Python;TypeScript
35872,Egypt,6,NaN,HTML/CSS;Java;JavaScript;Python;TypeScript
35956,Egypt,24,NaN,HTML/CSS;Python
36920,Egypt,7,NaN,C#;Dart;HTML/CSS;PowerShell;Python;SQL
36958,Egypt,7,24000.0,Dart;Python;SQL
37307,United Arab Emirates,9,13069.0,Dart;JavaScript;Python
37492,United Arab Emirates,9,39206.0,C#;Dart;Go;HTML/CSS;Java;JavaScript;Kotlin;PHP...
37717,United Arab Emirates,16,NaN,Dart;HTML/CSS;Java;JavaScript;MicroPython;Pyth...
38319,Saudi Arabia,22,NaN,Assembly;Delphi;HTML/CSS;JavaScript;Python;SQL
38747,United Arab Emirates,7,5445.0,HTML/CSS;Java;JavaScript;PHP;Python
39697,Egypt,6,NaN,Python
40570,Saudi Arabia,14,81592.0,C#;JavaScript;Python
40680,Egypt,6,NaN,C++;HTML/CSS;Java;JavaScript;Kotlin;PHP;Python...
41654,United Arab Emirates,8,NaN,Bash/Shell (all shells);Dart;HTML/CSS;JavaScri...
42109,Egypt,7,NaN,HTML/CSS;Java;JavaScript;Python;TypeScript
43224,United Arab Emirates,20,NaN,Go;Groovy;HTML/CSS;Java;Python;Ruby
44381,United Arab Emirates,32,NaN,HTML/CSS;JavaScript;Python;Rust;TypeScript
44522,United Arab Emirates,7,NaN,HTML/CSS;JavaScript;PHP;Python;R
45667,Egypt,7,NaN,HTML/CSS;JavaScript;PowerShell;Python;SQL
46809,United Arab Emirates,16,NaN,Bash/Shell (all shells);C#;Dart;Go;HTML/CSS;Ja...
47362,Egypt,7,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;PHP;Python;S...
47753,Egypt,10,NaN,Python
48121,United Arab Emirates,8,NaN,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...
50072,Egypt,8,NaN,Bash/Shell (all shells);C;C#;Go;HTML/CSS;JavaS...
50103,Egypt,7,NaN,C++;HTML/CSS;Java;JavaScript;Python;SQL
50268,United Arab Emirates,10,NaN,Python
50292,United Arab Emirates,16,NaN,Kotlin;Python;Swift;TypeScript
50555,Egypt,6,NaN,Python;SQL
51026,Saudi Arabia,26,NaN,Assembly;C;C#;C++;HTML/CSS;JavaScript;Lua;PHP;...
51042,Egypt,20,NaN,C#;Dart;HTML/CSS;JavaScript;Python;SQL
51198,Egypt,7,NaN,Python;Scala;SQL;Swift
51259,Egypt,7,NaN,Bash/Shell (all shells);C;C#;C++;Dart;Java;Jav...
51295,Egypt,9,NaN,Bash/Shell (all shells);C#;PowerShell;Python
51360,Egypt,7,NaN,C#;C++;HTML/CSS;Python
51691,Egypt,6,NaN,Bash/Shell (all shells);C;C++;HTML/CSS;Java;Ja...
52101,Saudi Arabia,9,NaN,Bash/Shell (all shells);HTML/CSS;JavaScript;Po...
53095,United Arab Emirates,12,NaN,NaN
53290,United Arab Emirates,9,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Kotlin;PHP;P...
53672,Egypt,7,NaN,C;C++;HTML/CSS;Java;JavaScript;PowerShell;Python
54183,Egypt,7,NaN,Bash/Shell (all shells);C;C++;Dart;Go;HTML/CSS...
56098,Egypt,6,NaN,Bash/Shell (all shells);Java;JavaScript;Python...
56256,Saudi Arabia,25,NaN,Bash/Shell (all shells);Java;JavaScript;Python...
56636,Egypt,8,NaN,C;C++;Dart;GDScript;HTML/CSS;Java;JavaScript;P...
56693,Egypt,23,NaN,Go;JavaScript;Python;TypeScript
57132,United Arab Emirates,7,NaN,HTML/CSS;JavaScript;Python
58847,United Arab Emirates,15,NaN,Go;Python;SQL
60423,Egypt,21,NaN,C;C#;C++;Java;JavaScript;Kotlin;PHP;PowerShell...
62035,Egypt,8,NaN,Bash/Shell (all shells);C;C#;C++;PowerShell;Pr...